#keyboard > div > button{
  height: 60px;
  width: 60px;
  background-color: rgb(0, 180, 136);
  /* color: rgb(223, 229, 131); */
  color: white;
  border: none;
  border-radius: 15%;  
}
#keyboard > div > button:hover{
  background-color: rgb(3, 145, 109);

}
#keyboard{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
#keyboard > div {
  display: flex;
  gap: 0.25rem;
}
#input-keyboard{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5rem;
  width: 15vw;
  height: 30vh;
  gap: 1rem;
}

#input-keyboard > form > input {
  height: 30px;
}
#main{
  display: grid;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
   background-color: rgba(0, 180, 135, 0.137);
  grid-template:
  "productList input-keyboard"
  "total pay-button";
}
#total{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#total > hr{
width: 50vw;
}
#productList{
  height: 50vh;
  overflow: auto;
  width: 65vw;
}

#pay-button{
  width: 80px;
  height: 60px;
  background-color: green;
  color: white;
}

#pay-button:hover{
  background-color: rgb(22, 102, 22);
  color: white;
}
#payment-link{
  width: 80px;
  height: 60px;
  text-decoration:none;
  color: white;
}
#payment{
  display: grid;
  flex-direction: column;
  gap: 1rem;
  grid-template:
  "productList input-keyboard"
  "total total";
}

#footer{
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  height: 4rem;
  margin-bottom: 2rem;
 
}
#header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 4rem;
  
  /* background-color: rgba(0, 180, 135, 0.233); */
}

.table-head{
  font-weight: bold ;
}

#back-link{
  width: 80px;
  height: 60px;
  text-decoration:none;
  color: white;
}
#back-button{
  width: 80px;
  height: 60px;
  background-color: rgb(190, 163, 10);
  color: white;
}
#back-button:hover{
  background-color: rgb(150, 129, 9);
  color: white;
}

#table-body{
background-color: rgba(236, 235, 235, 0.644);
}
#table-head{
  background-color: rgb(0, 180, 136);


  }