.button{
    height: 60px;
    width: 60px;
    background-color: rgba(9, 19, 16, 0.801);
    /* color: rgb(223, 229, 131); */
    color: white;
    border: none;
    border-radius: 15%;  
  }
  #keyboard > div > button:hover{
    background-color: rgba(9, 19, 16, 0.404);
  }
  #keyboard > div > button:disabled{
    background-color: lightgrey;
  }

  #enter-button{
    width: 186px;
    border-radius: 10%;
  
  }
  #keyboard{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  #keyboard > div {
    display: flex;
    gap: 0.25rem;
  }
  #input-keyboard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
    width: 15vw;
    height: 30vh;
    gap: 1rem;
  }
  
  #input-keyboard > form > input {
    height: 30px;
  }
 form{
  display: flex;
  flex-direction: column;
 }
